

body{
	background-color: #ffffff!important;
	font-family: 'Source Sans Pro', sans-serif ;
	font-size: 16px;
	/*background: url(images/chicago_skyline.jpg) no-repeat center center fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom:5%;
	color: black!important;
}

.navbar1{
	color: black!important;
}
.navbar1 ul{
	display: block;
}
.navbar1 ul li{
	display: inline;
	margin-right: 1.2px;
	margin-left: 1.2px;
}
img{
	width: 100%;
	height: 100%;
	max-width: 240px;
	max-height: 240px;
}
#icons{
	text-align: center;
	text-decoration: none;
	color: red; 
	color: white;
}

#email{
	text-align: center;
	font-size: 14px;
	color: black;
}
#email a{
	color: black;
}
#icons a{
	color: black;
}
.header{
	/*background-color: rgba(85,85,85,0.5);*/
	margin: 0 auto;
	text-align: center;
	color: black;
	font-size: 72px;
}
.header h1{
	text-align: center;
	margin: 10px auto;
	font-size: 72px;
}
.navbar1{
	background-color: rgba(85,85,85,0.0);
	margin: 0 auto;
	text-align: center;
	color: black !important;
}

.navbar1 ul{
text-align: center;
margin-left: auto;
margin-right: auto;
padding-left: 0px;
padding-right: 0px;
}

.navbar1 a{
	color: black;
	text-align: center;
}

.navbar1 a:visited {
	text-decoration: underline;
}

.container h1{
	color: black;
}

.container h2{
	color:black
}

.row{
	background-color: rgba(85,85,85,0.0);
	padding: 1%;
}

.homeheader{
	font-size: 36px;
	text-align: center;
}

p i{
	margin-left: 5px;
	margin-right: 5px;
}
a{
	/*color: #66ff33;*/
	color: #0000ff;
}
