

body{
	background-color: #ffffff !important;
	font-family: 'Source Sans Pro', sans-serif ;
	font-size: 16px;
	background: url(Mumbai-Night-Skyscrapers-Wallpaper.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

padding-left: 5%;
padding-right: 5%;
padding-bottom:5%;
color: white;

}


.navbar1 ul{

	display: block;
}
.navbar1 ul li{
	display: inline;
	margin-right: 1.2px;
	margin-left: 1.2px;
}
img{
	width: 100%;
	height: 100%;
	max-width: 240px;
	max-height: 240px;

}
#icons{
	text-align: center;
	text-decoration: none;
	color: red; 
	color: white;
}

#email{
	text-align: center;
	font-size: 14px;
	color: white;

}
#email a{
	
	color: white;
}
#icons a{
	
	color: white;
}
.header{
	margin: 0 auto;
	text-align: center;
	color: white;

}
.header h1{
	
	text-align: center;
	

}
.navbar1{
	margin: 0 auto;
	text-align: center;
	color: white !important;

}
.navbar1 ul{
text-align: center;
margin-left: auto;
margin-right: auto;
}
.navbar1 a{
	color: white;
	text-align: center;

}
.navbar1 a:visited {
	text-decoration: underline;
}
.container h1{
	color: white;
}
.container h2{
	color:white;
}
.row{
	background-color: rgba(85,85,85,0.5);
	padding: 1%;

}
.homeheader{
	font-size: 72px;
	text-align: center;
	margin-top: 10vh;
	background-color: rgba(85,85,85,0.5);


}
p i{
	margin-left: 5px;
	margin-right: 5px;
}
